img {

    width: 90px;
    
    height: 90px;
    
    float: left;
    
    }
    
    #idCard {
    
    border: 5px solid black;
    
    height: 14em;
     width: 25em;
    background-color: lightpink;
    margin: 0 auto;
    font-family: 'Trebuchet MS'
    
    }

    body {
margin:0 auto;
text-align:center;
background-color: darkcyan;
    }


